/build/
/vendor/
/extra/
.DS_Store
/.phpunit.result.cache
.*.swp
.*.swo
/composer.lock
/phpunit.xml
/vendor-bin/*/composer.lock
/vendor-bin/*/vendor/
/tests/fixtures/symlinktest/*
.vscode
.idea/
.vscode/
.php-version
