<?php
$finder = array_reduce(
    [
        __DIR__ . '/src/',
        __DIR__ . '/bin/',
        __DIR__ . '/tests/'
    ],
    function (PhpCsFixer\Finder $finder, $dir) {
        return $finder->in($dir);
    },
    PhpCsFixer\Finder::create()->ignoreUnreadableDirs()
);
$finder = array_reduce(
    [
        __DIR__ . '/src/Psalm/CallMap.php',
    ],
    function (PhpCsFixer\Finder $finder, $dir) {
        return $finder->exclude($dir);
    },
    $finder
)->notPath('/stubs/i');
$rules = [
    '@PSR2' => true,
    'array_syntax' => [
        'syntax' => 'short',
    ],
    /* // seems to cause high CPU spike
    'binary_operator_spaces' => [
        'align_double_arrow' => false,
        'align_equals' => false,
    ],
    */
    'blank_line_after_opening_tag' => false,
    'blank_line_before_return' => true,
    'cast_spaces' => false,
    'class_keyword_remove' => false,
    'combine_consecutive_unsets' => true,
    'concat_space' => [
        'spacing' => 'one',
    ],
    /* // to be removed/altered if vimeo/psalm ever goes php:^7.0
    'declare_equal_normalize' => [
        'space' => 'none',
    ], // to be removed/altered if vimeo/psalm ever goes php:^7.0
    'declare_strict_types' => true,
    */
    'function_to_constant' => true,
    'include' => false,
    'linebreak_after_opening_tag' => true,
    'lowercase_cast' => true,
    'magic_constant_casing' => true,
    'mb_str_functions' => false,
    'method_separation' => true,
    'native_function_casing' => true,
    /* // to discuss
    'native_function_invocation' => [
        'exclude' => [
        ]
    ],
    */
    'new_with_braces' => false,
    'no_alias_functions' => true,
    'no_blank_lines_after_class_opening' => true,
    'no_blank_lines_after_phpdoc' => true,
    'no_blank_lines_before_namespace' => true,
    'no_empty_comment' => true,
    'no_empty_phpdoc' => true,
    'no_empty_statement' => true,
];

return PhpCsFixer\Config::create()->setRules($rules)->setFinder($finder);
