<?php
$finder = array_reduce(
    [
        __DIR__ . '/src/',
        __DIR__ . '/bin/',
        __DIR__ . '/tests/'
    ],
    function (PhpCsFixer\Finder $finder, $dir) {
        return $finder->in($dir);
    },
    PhpCsFixer\Finder::create()->ignoreUnreadableDirs()
);
$finder = array_reduce(
    [
        __DIR__ . '/src/Psalm/CallMap.php',
    ],
    function (PhpCsFixer\Finder $finder, $dir) {
        return $finder->exclude($dir);
    },
    $finder
)->notPath('/stubs/i');
$rules = [
    '@PSR2' => true,
    'array_syntax' => [
        'syntax' => 'short',
    ],
    /* // seems to cause high CPU spike
    'binary_operator_spaces' => [
        'align_double_arrow' => false,
        'align_equals' => false,
    ],
    */
    'blank_line_after_opening_tag' => false,
    'blank_line_before_return' => true,
    'cast_spaces' => false,
    'class_keyword_remove' => false,
    'combine_consecutive_unsets' => true,
    'concat_space' => [
        'spacing' => 'one',
    ],
    /* // to be removed/altered if vimeo/psalm ever goes php:^7.0
    'declare_equal_normalize' => [
        'space' => 'none',
    ], // to be removed/altered if vimeo/psalm ever goes php:^7.0
    'declare_strict_types' => true,
    */
    'function_to_constant' => true,
    'include' => false,
    'linebreak_after_opening_tag' => true,
    'lowercase_cast' => true,
    'magic_constant_casing' => true,
    'mb_str_functions' => false,
    'method_separation' => true,
    'native_function_casing' => true,
    /* // to discuss
    'native_function_invocation' => [
        'exclude' => [
        ]
    ],
    */
    'new_with_braces' => false,
    'no_alias_functions' => true,
    'no_blank_lines_after_class_opening' => true,
    'no_blank_lines_after_phpdoc' => true,
    'no_blank_lines_before_namespace' => true,
    'no_empty_comment' => true,
    'no_empty_phpdoc' => true,
    'no_empty_statement' => true,
    'no_extra_consecutive_blank_lines' => [
        'tokens' => [
            'extra',
        ],
    ],
    /* // to discuss
    'no_leading_import_slash' => true,
    */
    'no_leading_namespace_whitespace' => true,
    'no_mixed_echo_print' => [
        'use' => 'echo',
    ],
    'no_multiline_whitespace_around_double_arrow' => true,
    'no_multiline_whitespace_before_semicolons' => true,
    'no_php4_constructor' => true,
    'no_short_bool_cast' => true,
    'no_short_echo_tag' => true,
    'no_singleline_whitespace_before_semicolons' => true,
    'no_spaces_around_offset' => [
        'positions' => [
            'inside',
            'outside',
        ],
    ],
    'no_trailing_comma_in_list_call' => true,
    'no_trailing_comma_in_singleline_array' => true,
    /* // to discuss
    'no_unneeded_control_parentheses' => [
        'statements' => [
            'break',
            'clone',
            'continue',
            'echo_print',
            'return',
            'switch_case',
            'yield',
        ],
    ],
    */
    'no_unreachable_default_argument_value' => true,
    /* // to discuss
    'no_unused_imports' => true,
    */
    /* // to discuss
    'no_useless_else' => true,
    */
    'no_useless_return' => true,
    'no_whitespace_before_comma_in_array' => true,
    'no_whitespace_in_blank_line' => true,
    'non_printable_character' => true,
    'normalize_index_brace' => true,
    /* // to discuss
    'ordered_class_elements' => [
        'order' => [
            'use_trait',
            'constant_public',
            'constant_protected',
            'constant_private',
            'property_public',
            'property_protected',
            'property_private',
            'construct',
            'destruct',
            'magic',
            'phpunit',
            'method_public',
            'method_protected',
            'method_private',
        ],
    ],
    */
    /* // to discuss
    'ordered_imports' => true,
    */
    'php_unit_construct' => [
        'assertions' => [
            'assertEquals',
            'assertSame',
            'assertNotEquals',
            'assertNotSame',
        ],
    ],
    'php_unit_dedicate_assert' => [
        'functions' => [
            'array_key_exists',
            'empty',
            'file_exists',
            'is_infinite',
            'is_nan',
            'is_null',
            'is_array',
            'is_bool',
            'is_boolean',
            'is_callable',
            'is_double',
            'is_float',
            'is_int',
            'is_integer',
            'is_long',
            'is_numeric',
            'is_object',
            'is_real',
            'is_resource',
            'is_scalar',
            'is_string',
        ],
    ],
    'php_unit_fqcn_annotation' => true,
    /* // to discuss
    'php_unit_strict' => [
        'assertions' => [
            'assertAttributeEquals',
            'assertAttributeNotEquals',
            'assertEquals',
            'assertNotEquals',
        ],
    ],
    */
    /* // to discuss
    'php_unit_test_class_requires_covers' => true,
    */
    'phpdoc_add_missing_param_annotation' => [
        'only_untyped' => true,
    ],
    /* // to discuss
    'phpdoc_align' => false,
    */
    /* // to discuss
    'phpdoc_annotation_without_dot' => true,
    */
    /* // to discuss
    'phpdoc_indent' => true,
    */
    'phpdoc_inline_tag' => true,
    'phpdoc_no_access' => true,
    'phpdoc_no_alias_tag' => [
        'replacements' => [
            'property-read' => 'property',
            'property-write' => 'property',
            'type' => 'var',
            'link' => 'see',
        ],
    ],
    // to be set to true if vimeo/psalm ever goes php:^7.1
    'phpdoc_no_empty_return' => false,
    'phpdoc_no_package' => true,
    'phpdoc_no_useless_inheritdoc' => true,
    /* // to discuss
    'phpdoc_order' => true,
    */
    'phpdoc_return_self_reference' => [
        'replacements' => [
            'this' => '$this',
            '@this' => '$this',
            '$self' => 'self',
            '@self' => 'self',
            '$static' => 'static',
            '@static' => 'static',
        ],
    ],
    /* // to discuss
    'phpdoc_scalar' => true,
    */
    /* // to discuss
    'phpdoc_separation' => true,
    */
    'phpdoc_single_line_var_spacing' => true,
    /* // to discuss
    'phpdoc_summary' => true,
    */
    /* // to discuss
    'phpdoc_to_comment' => true,
    */
    /* // to discuss
    'phpdoc_trim' => true,
    */
    'phpdoc_types' => true,
    'phpdoc_var_without_name' => true,
    'pow_to_exponentiation' => true,
    /* // to discuss
    'pre_increment' => true,
    */
    'protected_to_private' => true,
    'psr0' => false,
    'psr4' => true,
    'random_api_migration' => true,
    /* // to discuss
    'return_type_declaration' => [
        'space_before' => 'one',
    ],
    */
    /* // to discuss
    'self_accessor' => true,
    */
    'semicolon_after_instruction' => true,
    'short_scalar_cast' => true,
];

return PhpCsFixer\Config::create()->setRules($rules)->setFinder($finder);
