language: php

matrix:
  exclude:
    - php: 7.0
      env: DEPS="" COVERALLS=true
    - php: 7.1
      env: DEPS="" COVERALLS=true
    - php: 7.2
      env: DEPS="" COVERALLS=""
    - php: nightly
      env: DEPS="" COVERALLS=true
  allow_failures:
    - php: nightly
php:
  - 7.0
  - 7.1
  - 7.2
  - nightly

env:
  - DEPS="--prefer-lowest --prefer-stable" COVERALLS=""
  - DEPS="" COVERALLS=""
  - DEPS="" COVERALLS=true

cache:
  directories:
    - ./vendor

before_install:
    # determine INI file
    - export INI=~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
    # disable default memory limit
    - echo memory_limit = 2G >> $INI
    - if [[ $COVERALLS = "" ]]; then phpenv config-rm xdebug.ini; fi

install:
  - composer --prefer-source $DEPS update

script:
  - vendor/bin/phpunit
  - ./psalm --find-dead-code
  - vendor/bin/phpcs

after_success:
  - travis_retry php vendor/bin/php-coveralls -v
