language: php

php:
  - '5.6'
  - '7.0'
  - '7.1'

cache:
  directories:
    - ./vendor

install:
  - composer --prefer-source install

script:
  - vendor/bin/phpunit
  - ./psalm
  - vendor/bin/phpcs

after_success:
  - travis_retry php vendor/bin/php-coveralls -v
