{
    "output" : "build/psalm.phar",
    "files": [
        "psalm",
        "build/phar-versions.php"
    ],
    "map": [
        {"build/phar-versions.php" : "phar-versions.php"}
    ],
    "files-bin": ["config.xsd"],
    "directories-bin" : [
        "assets",
        "dictionaries",
        "docs/running_psalm/issues",
        "stubs"
    ],
    "compactors" : [
        "KevinGH\\Box\\Compactor\\PhpScoper"
    ]
}
