{
    "output" : "build/psalm.phar",
    "files": [
        "psalm",
        "build/phar-versions.php"
    ],
    "map": [
        {"build/phar-versions.php" : "phar-versions.php"}
    ],
    "alias": "psalm_phar",
    "timestamp": "2025-01-01T10:01:11+00:00",
    "banner": false,
    "files-bin": ["config.xsd", "composer.lock"],
    "directories-bin" : [
        "assets",
        "dictionaries",
        "docs/running_psalm/issues",
        "stubs"
    ],
    "compactors" : [
        "KevinGH\\Box\\Compactor\\PhpScoper"
    ]
}
