{
    "main" : "psalm",
    "output" : "bin/psalm.phar",
    "directories" : [
        "assets",
        "src",
        "vendor"
    ],
    "files" : [
        "composer.json",
        "composer.lock",
        "config.xsd"
    ],
    "intercept" : false,
    "compactors" : [
        "KevinGH\\Box\\Compactor\\PhpScoper"
    ],
    "chmod" : "0755",
    "compression": "GZ"
}
