<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/autoload.php"
         backupGlobals="false"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         beStrictAboutTodoAnnotatedTests="true"
         colors="true"
         verbose="false"
         executionOrder="random"
>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory suffix=".php">src/Psalm/Issue/</directory>
            <directory suffix=".php">src/Psalm/Internal/Stubs/</directory>
            <directory suffix=".php">src/Psalm/Internal/LanguageServer/</directory>
            <directory suffix=".php">src/Psalm/Internal/ExecutionEnvironment/</directory>
            <directory suffix=".php">src/Psalm/SourceControl/</directory>
            <file>src/command_functions.php</file>
            <file>src/psalm.php</file>
            <file>src/psalm-language-server.php</file>
            <file>src/psalter.php</file>
            <file>src/psalm_plugin.php</file>
            <file>src/psalm-refactor.php</file>
            <file>src/Psalm/Plugin/Shepherd.php</file>
            <file>src/Psalm/Internal/CallMap.php</file>
            <file>src/Psalm/Internal/Fork/Pool.php</file>
            <file>src/Psalm/Internal/Fork/Restarter.php</file>
            <file>src/Psalm/Internal/PropertyMap.php</file>
            <file>src/Psalm/Internal/Provider/ClassLikeStorageCacheProvider.php</file>
            <file>src/Psalm/Internal/Provider/FileReferenceCacheProvider.php</file>
            <file>src/Psalm/Internal/Provider/FileStorageCacheProvider.php</file>
            <file>src/Psalm/Internal/Provider/ParserCacheProvider.php</file>
        </exclude>
        <report>
            <!-- <clover outputFile="build/logs/clover.xml"/> -->
            <!-- <html outputDirectory="build/logs/phpunit-html/"/> -->
        </report>
    </coverage>

    <testsuites>
        <testsuite name="psalm">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <const name="__IS_TEST_ENV__" value="1" />
    </php>
</phpunit>
