name: Check backward compatibility

on: pull_request
jobs:
  bcc:
    name: Check backward compatibility
    runs-on: ubuntu-latest
    steps:
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          tools: composer:v2
          coverage: none
        env:
          fail-fast: true

      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install Dependencies
        uses: ramsey/composer-install@v3
        with:
          composer-options: "--optimize-autoloader"
        env:
          COMPOSER_ROOT_VERSION: dev-master

      - name: Run bin install
        run: composer bin bcc install
        env:
          COMPOSER_ROOT_VERSION: dev-master

      - name: Run BCC
        run: vendor/bin/roave-backward-compatibility-check --from="origin/$GITHUB_BASE_REF" --format=github-actions
        env:
          COMPOSER_ROOT_VERSION: dev-master

