name: Run Shepherd

on: [push, pull_request]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: shivammathur/setup-php@v2
      with:
        php-version: '8.4'
        ini-values: zend.assertions=1
        tools: composer:v2
        coverage: none
      env:
        fail-fast: true

    - name: Install Dependencies
      uses: ramsey/composer-install@v3
      with:
        composer-options: "--optimize-autoloader"
      env:
        COMPOSER_ROOT_VERSION: dev-master

    - name: Run Psalm
      run: ./psalm --output-format=github --shepherd --force-jit
