name: Run Shepherd

on: [push, pull_request]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'
        ini-values: zend.assertions=1
        tools: composer:v2
        coverage: none
      env:
        fail-fast: true

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --no-suggest
      env:
        COMPOSER_ROOT_VERSION: dev-master

    - name: Run Psalm
      run: ./psalm --threads=2 --output-format=github --shepherd
